body {
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #003B6F;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    text-align: center;
    font-size: xx-large;
    color: #fff;
    border: solid;
    border-color: #000000;
}

article {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 9%;
    left: 0%;
    height: 908px;
    border: solid;
    border-color: #000000;
}

footer {
    background-color: #003B6F;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 908px;
    left: 0%;
    border: solid;
    border-color: #000000;
}


